<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2 class="text-center">Iniciar Sesión</h2>
                    </div>
                    <div class="card-body">
                        <div id="emptyFieldsError" class="alert alert-danger" style="display: none;">
                            Por favor, complete ambos campos para iniciar sesión.
                          </div>
                        <div id="errorMessage" class="alert alert-danger" style="display: none;">
                            Error de ingreso, por favor verifique sus credenciales.
                        </div>
                        <div id="successMessage" class="alert alert-success" style="display: none;">
                            Bienvenido, <span id="loggedInUser"></span>!
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="username">Correo Electrónico:</label>
                                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
                            </div>
                            <div class="form-group mt-4">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                            </div>
                            
                            <div *ngIf="loading" class="text-center mt-5">
                                <div class="spinner-border text-primary"></div>
                                <span class="sr-only"></span>
                            </div>

                            <div class="buttons-div mt-5">
                                <button type="button" (click)="OnClick()" class="btn btn-primary btn-block">Iniciar Sesión</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
</footer>
</html>
